@import "src/assets/sass/abstract/mixins";
@import "src/assets/sass/abstract/variables";

.wrapper {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        .logo {
            font-weight: 600;
            font-size: 2rem;
        }

        .user {
            @include pokemon-border;
            padding: 10px;
            cursor: pointer;

            &:hover {
                background-color: $color-hover;
            }
        }
    }
}
