@import "/src/assets/sass/main.scss";

.wrapper {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;

        .logo {
            font-weight: 600;
            font-size: 2rem;
        }

        .user {
            @include pokemon-border;
            width: 30px;
            height: 30px;
        }
    }
}
