@import "src/assets/sass/abstract/mixins";
@import "src/assets/sass/abstract/variables";

main {
    text-align: center;

    .my-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        @include container-limit();

        @include desktop() {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
