<main class="viewport">
    <h1>Pokemon Evolution</h1>
    <h2>Select a Pokemon to see his evolution chain</h2>
    <ng-container *ngIf="(pokemons$ |async) as pokemons">
        <div class="filters">
            <label for="search">Search pokemon by name or ID:</label>
            <input type="text" name="search" id="search" [formControl]="searchControl">
        </div>
        <ng-container *ngIf="{ sortBy: sortBy$ | async, sortByOrder: sortByOrder$ | async } as tableState">
            <table>
                <thead>
                    <tr>
                        <th class="sprite">
                            Sprite
                        </th>
                        <th class="name"
                            (click)="handleChangeTableSortOrder('name', tableState.sortBy!, tableState.sortByOrder!)">
                            Name
                            <ng-container *ngTemplateOutlet="sortIcons; context:{tableState, id:'name'}">
                            </ng-container>
                        </th>
                        <th (click)="handleChangeTableSortOrder('id', tableState.sortBy!, tableState.sortByOrder!)"
                            class="id">
                            Id
                            <ng-container *ngTemplateOutlet="sortIcons; context:{tableState, id:'id'}">
                            </ng-container>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="pokemons.pokemon_v2_pokemon.length <= 0" class="no-pokemons-message">
                        <td colspan="3">
                            <p>Oops... we couldn't find any pokemons. Try changing the filter values!</p>
                        </td>
                    </tr>

                    <tr (click)="handleRequestPokemonDetails(pokemon)"
                        *ngFor="let pokemon of pokemons.pokemon_v2_pokemon" class="pokemon">
                        <td class="sprite">
                            <img width="96" height="96"
                                [src]="(pokemon.pokemon_v2_pokemonsprites[0].sprites | extractPokemonImage)" alt="">
                        </td>
                        <td class="name">{{pokemon.name}}</td>
                        <td class="id">{{pokemon.id}}</td>
                    </tr>
                </tbody>
            </table>
            <ng-container *ngIf="{offset: offset$ | async} as pagination">

                <div class="pagination">
                    <button [disabled]="pagination.offset === 0" (click)="handleChangePage(-1)" class="btn btn-primary">
                        <span>◄</span>
                    </button>
                    <button
                        [disabled]="((pagination.offset ?? 0)  + 10) >= (pokemons.pokemon_v2_pokemon_aggregate.aggregate.count)"
                        (click)="handleChangePage(1)" class="btn btn-primary">
                        <span>►</span>
                    </button>
                </div>
                <p class="results" *ngIf="pokemons.pokemon_v2_pokemon_aggregate.aggregate.count > 0">
                    {{pokemons.pokemon_v2_pokemon_aggregate.aggregate.count}}
                    results.</p>
            </ng-container>

        </ng-container>
    </ng-container>
    <div class="overlay-loading" *ngIf="isLoading">
        <p>Loading new data...</p>
    </div>
</main>

<ng-template #sortIcons let-tableState="tableState" let-id="id">
    <ng-container *ngIf="tableState.sortBy === id">
        <ng-container *ngIf="tableState.sortByOrder === 'asc'">▲</ng-container>
        <ng-container *ngIf="tableState.sortByOrder === 'desc'">▼</ng-container>
    </ng-container>
</ng-template>