@import "src/assets/sass/abstract/mixins";
@import "src/assets/sass/abstract/variables";

.viewport {
    position: relative;
    min-height: 400px;
    margin: auto;
    background-color: white;
    width: 100%;
    @include container-limit;
    text-align: center;

    table {
        width: 100%;
        border-collapse: collapse;

        .no-pokemons-message {
            td {
                padding: 20px;
                text-align: center;
            }
        }
        thead {
            tr {
                border-bottom: 1px solid black;
                th {
                    font-size: 1.8rem;
                    padding: 8px 10px 8px 0;
                    text-align: start;
                    min-width: 120px;
                    margin-right: 10px;
                    cursor: pointer;

                    &.sprite {
                        text-align: center;
                    }
                    &.id {
                        text-align: end;
                    }
                }
            }
        }

        .sprite {
            img {
                width: 86px;
                height: 86px;
                margin: auto;
            }
        }

        .name {
            text-transform: capitalize;
            font-size: 1.4rem;
        }

        .id {
            display: none;
            text-align: end;
            padding-right: 20px;
        }

        tbody {
            padding: 10px;

            tr {
                border-bottom: 1px solid $color-lightgray;
                img {
                    @include main-transition;
                }

                &:hover {
                    cursor: pointer;
                    img {
                        filter: grayscale(0.1);
                        transform: scale(1.1);
                    }
                }
            }
        }

        @include tablet() {
            .name {
            }
            .id {
                display: table-cell;
            }
            .sprite {
                img {
                    width: 128px;
                    height: 128px;
                }
            }
        }
    }
    .results {
        margin-top: 30px;
    }
    .filters {
        text-align: center;
        padding: 10px;
        margin-bottom: 20px;

        input {
            text-align: start;
            display: block;
            max-width: 280px;
            margin: auto;
        }
    }

    .pagination {
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        button:first-child {
            margin-right: 10px;
        }
    }

    @include tablet() {
        padding: 10px 40px;
    }
}
