@import "/src/assets/sass/main.scss";
main {
    text-align: center;

    .my-pokemons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        @include container-limit();

        @include mobile-lg() {
            grid-template-columns: repeat(3, 1fr);
        }

        @include desktop() {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
