@mixin mobile-lg {
    @media only screen and (min-width: 578px) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin main-transition($time: 0.6s, $property: all) {
    -webkit-transition: $property $time cubic-bezier(0.175, 0.885, 0.3, 1.1);
    -o-transition: $property $time cubic-bezier(0.175, 0.885, 0.3, 1.1);
    transition: $property $time cubic-bezier(0.175, 0.885, 0.3, 1.1);
}

@mixin animation-blink($time: 0.5s) {
    animation: blink $time infinite linear;
}

@mixin pokemon-border() {
    border-radius: 3.5px;
    margin: 1rem 0.5rem;
    border: 1px solid $color-black;
    outline: 2px solid $color-black;
    outline-offset: 3px;
}

@mixin container-limit() {
    max-width: 1000px;
    margin: auto;
}
