// Color palette
$color-black: #1e1e1e;
$font-color-gray: #606060;
$color-lightgray: #ececec;
$color-shallow-text: #b7b7b7;

// Pokemon
$color-shiny: rgb(255, 241, 165);
// Toast
$color-pink: #f1d6d4;
$color-info: #f5f5f5;

// Button
$color-disabled: rgb(234, 234, 234);
$color-hover: rgb(245, 245, 245);

// Pokemon Background Variables
$color-poke-bg-grass: #76c560;
$color-poke-bg-poison: #a244a2;
$color-poke-bg-fire: #ef784a;
$color-poke-bg-flying: #997ced;
$color-poke-bg-water: #638bef;
$color-poke-bg-bug: #a8b820;
$color-poke-bg-normal: #acac7e;
$color-poke-bg-electric: #f8d237;
$color-poke-bg-ground: #e5cb83;
$color-poke-bg-fairy: #ee9bad;
$color-poke-bg-fighting: #c1322b;
$color-poke-bg-psychic: #f85786;
$color-poke-bg-steel: #a8a8c5;
$color-poke-bg-ghost: #705898;
$color-poke-bg-rock: #b3984d;
$color-poke-bg-dragon: #6c36f8;
$color-poke-bg-ice: #91d5d5;
$color-poke-bg-dark: #705848;
