@import "/src/assets/sass/main.scss";

footer {
    text-align: center;
    padding: 20px;
    @include pokemon-border;
    margin: 40px 30px;

    @include tablet() {
        margin: 40px 10px 10px 10px;
    }
}
