@import "/src/assets/sass/main.scss";

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "aside"
        "main";

    // @include tablet() {
    //     grid-template-areas:
    //         "header header"
    //         "aside main";
    //     grid-template-columns: 2fr 8fr;
    // }

    header {
        grid-area: header;
    }
    aside {
        grid-area: aside;
    }
    main {
        grid-area: main;
    }
}
