<div class="grid">
    <header>
        <poke-header></poke-header>
    </header>
    <aside>
        <nav>
            <ul>
                <li [routerLinkActive]="['active']" [routerLink]="['pokedex']">Pokedex</li>
                <li [routerLinkActive]="['active']" [routerLink]="['my-team']">My team</li>
                <li [routerLinkActive]="['active']" [routerLink]="['my-box']">My box</li>
                <li [routerLinkActive]="['active']" [routerLink]="['fight']">Fight!</li>
            </ul>
        </nav>
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>