.grid {
    display: grid;
    grid-template-rows: 110px auto;
    grid-template-columns: min-content minmax(800px, 100%);
    grid-template-areas:
        "header header"
        "aside main";

    header {
        grid-area: header;
    }
    aside {
        grid-area: aside;
    }
    main {
        grid-area: main;
    }
}
