@import "/src/assets/sass/main.scss";

.wrapper {
    padding: 2rem;
    height: 100vh;

    .container {
        @include flex-center;
        height: 100%;

        main {
            width: 100%;
            max-width: 380px;
            margin: 2rem;
            padding: 2rem;
            @include pokemon-border;

            form {
                @include flex-column;
                label {
                    padding-bottom: 1rem;
                }
                button {
                    margin-top: 4rem;
                    text-align: center;
                }
            }
        }
    }
}
