<div class="wrapper">
    <div class="container">
        <main>
            <form [formGroup]="form">
                <label for="username">Your username? </label>
                <input type="text" placeholder="Red" aria-autocomplete="username" name="username" id="username"
                    aria-required="true" formControlName="username">
                <button class="btn btn-primary" type="submit" (click)="handleLoginRequest()">
                    LOGIN
                </button>
            </form>
        </main>
    </div>
</div>