@import "/src/assets/sass/main.scss";

.wrapper {
    padding: 2rem;
    height: 100vh;

    .container {
        @include flex-center;
        height: 100%;

        main {
            width: 100%;
            max-width: 380px;
            margin: 2rem;
            padding: 2rem;
            border-radius: 3.5px;
            margin: 1.4rem 0.5rem;
            border: 1px solid $color-black;
            outline: 2px solid $color-black;
            outline-offset: 3px;

            form {
                @include flex-column;
                label {
                    padding-bottom: 1rem;
                }
                button {
                    margin-top: 4rem;
                    text-align: center;
                }
            }
        }
    }
}
